.containerPomodoro{
    display: flex;
    flex: 1;
}
.button{
    display: flex;
    margin-bottom: 20px;
    align-self:flex-end;    
}
.containerPomodoro > div > div {
    display: flex;
    margin-top: 35px;
    justify-content: center;
    align-items: flex-end;
}
.timer{
    background-image: url('pomodoro.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
}
.containerPomodoro > section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(223, 191, 148);
}
.containerPomodoro > section > div {
    padding-inline: 10px;
}