.containerPomodoro{
    display: flex;
    flex: 1;
}
.button{
    display: flex;
    margin-bottom: 20px;
    align-self:flex-end;
    
}
.timer{
    display: flex;
    flex: 1;
    background-image: url('pomodoro.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.history{
    background-color: rgb(223, 191, 148);
}